.results {
    width: 100%;
}

.key-results {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: hsl(180, 20%, 45%);
}

.key-result {
    padding: 10px;
}

.label {
    text-transform: uppercase;
    font-size: 16px;
    color: hsl(180, 50%, 80%);
}

.key-data {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

.full-results {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.main-result {
    background-color: #f0f3f7;
    color: #282c34;
    font-size: calc(10px + 4vmin);
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px #ccc;
}

.breakdown {
    margin: 0 0 30px 0;
}

table {
    border-collapse: collapse;
    box-shadow: 0 3px 5px #ccc;
}

th, td {
    text-align: left;
    padding: 10px 25px 10px 5px;
    font-size: calc(8px + 1vmin);
}

th {
    background-color: #b5c2d8;
}

tr:nth-child(even) {
    background-color:#f0f3f7;
}

.total {
    font-weight: 700;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    min-height: 50px;
    width: 175px;
    background-color: #b5c2d8;
    color: #000;
    font-size: calc(16px + 0.5vw);
    font-weight: 500;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: none;
}

button:hover {
    background-color: #8b9dbb;
    box-shadow: 0 3px 5px #ccc;
}

p {
    margin-top: 0;
}

@media only screen and (min-width: 800px) {
    .key-results {
        flex-direction: row;
    }
}