form {
    width: 95%;
    max-width: 1000px;
    border: 1px solid #00aeff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.separator {
    background-color: #00aeff;
    height: 1px;
    width: 70%;
}

.submit {
    width: 70%;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: calc(10px + 2vmin);
    background-color: #00aeff;
    color: white;
    border: none;
    margin: 30px auto;
    cursor: pointer;
}