form {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submit {
    margin: 10px 0;
    padding: 10px 20px;
    min-height: 50px;
    width: 175px;
    background-color: #507fff;
    color: #fff;
    font-size: calc(16px + 0.5vw);
    font-weight: 500;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.submit:hover {
    background-color: #2b63ff;
    box-shadow: 0 3px 5px #ccc;
}

input[type="number"] {
    background-color:hsl(218, 55%, 90%);
}

label {
    font-size: calc(16px + 0.5vw);
}