.content-box {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 15px 35px hsla(0, 0%, 50%, .5);
  }

  @media only screen and (min-width: 800px) {
      .content-box {
              
      }
  }