.App {
  background: linear-gradient(105deg, hsl(218, 75%, 95%) 52%, hsl(218, 55%, 90%) 52%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1.75vmin);
  color: #000;
}

.content-box {
  max-width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 15px 35px hsla(0, 0%, 50%, .5);
}

@media only screen and (min-width: 800px) {
  .App {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .content-box {
    width: 40%;
  }
}