.country-field {
    margin-bottom: 20px;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.radio span {
    display: flex;
    margin-right: 50px;
}

.radio input {
    margin-right: 20px;
}
