.country-field {
    margin: 10px 20px;
}

.radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.radio-item {
    padding: 5px 0;
    width: 100%;
    display: flex;
}

.radio input {
    margin-right: 20px;
}