* {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h3 {
  font-size: calc(16px + 0.75vw);
  font-weight: 500;
  text-align: left;
}

em {
  font-size: calc(12px + 0.25vw);
  font-weight: 300;
}

p {
  font-size: calc(14px + 0.25vw);
}

input[type="submit"] {
  border-radius: 3px;
  -webkit-appearance: none;
}